# This is Git's per-user configuration file.
# Please adapt and uncomment the following lines:
#	name = Thales Flores
#	email = thalesvflores@gmail.com
[user]
	name = thalesflores
	email = thalesvflores@gmail.com
	user = thalesflores

[alias]
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
[core]
	editor = nvim
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[push]
	default = current

[init]
	defaultBranch = main
