# This is Git's per-user configuration file.
# Please adapt and uncomment the following lines:
#	name = Thales Flores
#	email = thalesvflores@gmail.com
[user]
	name = Thales Flores
	email = 22772984+thalesflores@users.noreply.github.com
	user = thalesflores
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIDC/JuytaQGdM+ZNZkDNfWn+/Kyc6bK5AezpUQkcZjsI

[alias]
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  force-push = commit --amend --no-edit && git push -f
  current-branch = rev-parse --abbrev-ref HEAD

[core]
	editor = nvim
	excludesfile = /Users/thalesflores/.gitignore_global
	eol = lf
	autocrlf = false

[color]
	ui = true

[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22

[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse

[push]
	default = current

[init]
	defaultBranch = main

[merge]
	conflictstyle = diff3

[gpg]
  format = ssh

[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[commit]
  gpgsign = true
